<%= form_with(model: progress_note, local: true) do |form| %>
  <% if progress_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(progress_note.errors.count, "error") %> prohibited this progress_note from being saved:</h2>

      <ul>
      <% progress_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="row">
     <div class="col-md-6">
        <div class="form-group">
          <%= form.label :patient_id %>
          <%= form.select('patient_id', options_for_select(@patients.collect{ |p| [ p.first_name, p.id ] }), class:'form-control') %>
        </div>

        <div class="form-group">
          <%= form.label :user_id %>
          <%= form.select('user_id', options_for_select(@users.collect{ |p| [ p.first_name, p.id ] }), class:'form-control') %>
        </div>

        <div class="form-group">
          <%= form.label :date %>
          <%= form.date_select :date, class:'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :time %>
          <%= form.time_select :time, class:'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :duration %>
          <%= form.number_field :duration, class:'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :note_type %>
          <%= form.text_field :note_type, class:'form-control'%>
        </div>

        <div class="form-group">
          <%= form.label :location %>
          <%= form.text_field :location, class:'form-control' %>
        </div>
     </div>
     <div class="col-md-6">
        <div class="form-group">
          <%= form.label :mental_status %>
          <%= form.text_field :mental_status, class:'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :symptoms %>
          <%= form.text_field :symptoms, class:'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :dx %>
          <%= form.text_field :dx , class:'form-control'%>
        </div>

        <div class="form-group">
          <%= form.label :prognosis %>
          <%= form.text_field :prognosis, class:'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :progress_to_date %>
          <%= form.text_field :progress_to_date, class:'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :tx_plan %>
          <%= form.text_field :tx_plan, class:'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :progress_note %>
          <%= form.text_area :progress_note, class:'form-control' %>
        </div>
     </div>
   </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
