<%= render "shared/navbar_signed_in" %>

<div class="container py-5">
   <div class="row">
      <div id="blocks" class="col-md-10 mx-auto border py-4">
         <div class="row">
            <div class="col-md-6">
               <h3>Patient: <small><%= @progress_note.patient.first_name %> <%= @progress_note.patient.last_name %></small></h3>
               <h3>Clinician: <small><%= @progress_note.user.first_name %> <%= @progress_note.user.last_name %></small></h3>
            </div>
            <div class="col-md-6">
               <h3>Date: <small><%= @progress_note.date %></small></h3>
            </div>
         </div>

         <hr>

         <div class="row">
            <div class="col-md-6">
               <p>
                 <strong>Time:</strong>
                 <%= @progress_note.time %>
               </p>

               <p>
                 <strong>Duration:</strong>
                 <%= @progress_note.duration %>
               </p>

               <p>
                 <strong>Location:</strong>
                 <%= @progress_note.location %>
               </p>

               <p>
                 <strong>Mental status:</strong>
                 <%= @progress_note.mental_status %>
               </p>

               <p>
                 <strong>Symptoms:</strong>
                 <%= @progress_note.symptoms %>
               </p>
            </div>
            <div class="col-md-6">
               <p>
                 <strong>Dx:</strong>
                 <%= @progress_note.dx %>
               </p>

               <p>
                 <strong>Prognosis:</strong>
                 <%= @progress_note.prognosis %>
               </p>

               <p>
                 <strong>Progress to date:</strong>
                 <%= @progress_note.progress_to_date %>
               </p>

               <p>
                 <strong>Tx plan:</strong>
                 <%= @progress_note.tx_plan %>
               </p>

            </div>
         </div>

         <div class="form-group">
            <label for="progress_note"><strong>Progress Note:</strong></label>
            <textarea class="form-control" rows="5"><%= @progress_note.progress_note %></textarea>
         </div>



         <%= link_to 'Edit', edit_progress_note_path(@progress_note) %> |
         <%= link_to 'Back', progress_notes_path %>
      </div>
   </div>
</div>

<%= render "shared/footer" %>
