<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @record.category %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @record.patient %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
