<%= form_with(model: emergency_contact, local: true) do |form| %>
  <% if emergency_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(emergency_contact.errors.count, "error") %> prohibited this emergency_contact from being saved:</h2>

      <ul>
      <% emergency_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :relationship %>
    <%= form.text_field :relationship %>
  </div>

  <div class="field">
    <%= form.label :phone1 %>
    <%= form.text_field :phone1 %>
  </div>

  <div class="field">
    <%= form.label :phone2 %>
    <%= form.text_field :phone2 %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :address_line_1 %>
    <%= form.text_field :address_line_1 %>
  </div>

  <div class="field">
    <%= form.label :address_line_2 %>
    <%= form.text_field :address_line_2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.select('patient_id', options_for_select(@patients.collect{ |p| [ p.first_name, p.id ] })) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
