<%= render "shared/navbar_signed_in" %>

<p id="notice"><%= notice %></p>

<h1>Allergies</h1>

<table>
  <thead>
    <tr>
      <th>Allergen</th>
      <th>Reaction</th>
      <th>Severity</th>
      <th>Note</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @allergies.each do |allergy| %>
      <tr>
        <td><%= allergy.allergen %></td>
        <td><%= allergy.reaction %></td>
        <td><%= allergy.severity %></td>
        <td><%= allergy.note %></td>
        <td><%= allergy.patient.first_name %></td>
        <td><%= link_to 'Show', allergy %></td>
        <td><%= link_to 'Edit', edit_allergy_path(allergy) %></td>
        <td><%= link_to 'Destroy', allergy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allergy', new_allergy_path %>

<%= render "shared/footer" %>
