<%= form_with(model: health_insurance, local: true) do |form| %>
  <% if health_insurance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(health_insurance.errors.count, "error") %> prohibited this health_insurance from being saved:</h2>

      <ul>
      <% health_insurance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :company %>
    <%= form.text_field :company, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :id_number %>
    <%= form.text_field :id_number, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :group_number %>
    <%= form.text_field :group_number, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :coverage %>
    <%= form.text_field :coverage, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :copays %>
    <%= form.text_field :copays, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :patient_id %>
    <%= form.select('patient_id', options_for_select(@patients.collect{ |p| [ p.first_name, p.id ] }), class:'form-control') %>
  </div>

  <div class="actions">
    <%= form.submit 'Update', class:'btn btn-primary' %>
  </div>
<% end %>
