<p id="notice"><%= notice %></p>

<h1>Health Insurances</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Phone</th>
      <th>Id number</th>
      <th>Group number</th>
      <th>Coverage</th>
      <th>Copays</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @health_insurances.each do |health_insurance| %>
      <tr>
        <td><%= health_insurance.company %></td>
        <td><%= health_insurance.phone %></td>
        <td><%= health_insurance.id_number %></td>
        <td><%= health_insurance.group_number %></td>
        <td><%= health_insurance.coverage %></td>
        <td><%= health_insurance.copays %></td>
        <td><%= health_insurance.patient %></td>
        <td><%= link_to 'Show', health_insurance %></td>
        <td><%= link_to 'Edit', edit_health_insurance_path(health_insurance) %></td>
        <td><%= link_to 'Destroy', health_insurance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Health Insurance', new_health_insurance_path %>
