<%= form_with(model: family_history, local: true) do |form| %>
  <% if family_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family_history.errors.count, "error") %> prohibited this family_history from being saved:</h2>

      <ul>
      <% family_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :relationship %>
    <%= form.text_field :relationship, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :dob %>
    <%= form.date_select :dob, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :dod %>
    <%= form.date_select :dod, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :medical_history %>
    <%= form.text_field :medical_history, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :patient_id %>
    <%= form.select('patient_id', options_for_select(@patients.collect{ |p| [ p.first_name, p.id ] }), class:'form-control') %>
  </div>

  <div class="actions">
    <%= form.submit 'Update', class:'btn btn-primary' %>
  </div>
<% end %>
