<%= form_with(model: immunization, local: true) do |form| %>
  <% if immunization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(immunization.errors.count, "error") %> prohibited this immunization from being saved:</h2>

      <ul>
      <% immunization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vaccine %>
    <%= form.text_field :vaccine %>
  </div>

  <div class="field">
    <%= form.label :received_on %>
    <%= form.date_select :received_on %>
  </div>

  <div class="field">
    <%= form.label :expired_on %>
    <%= form.date_select :expired_on %>
  </div>

  <div class="field">
    <%= form.label :administered_by %>
    <%= form.text_field :administered_by %>
  </div>

  <div class="field">
    <%= form.label :dosage %>
    <%= form.text_field :dosage %>
  </div>

  <div class="field">
    <%= form.label :manufacturer %>
    <%= form.text_field :manufacturer %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.text_field :patient_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
