<%= form_with(model: general_information, local: true) do |form| %>
  <% if general_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(general_information.errors.count, "error") %> prohibited this general_information from being saved:</h2>

      <ul>
      <% general_information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
     <div class="col-md-6">
        <div class="form-group">
          <%= form.label :blood_type %>
          <%= form.text_field :blood_type, class:'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :height %>
          <%= form.text_field :height , class:'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :weight %>
          <%= form.text_field :weight , class:'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :allergies %>
          <%= form.text_field :allergies, class:'form-control'  %>
        </div>

        <div class="form-group">
          <%= form.label :organ_donor %>
          <%= form.text_field :organ_donor , class:'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label :exercise %>
          <%= form.text_field :exercise, class:'form-control'  %>
        </div>

     </div>
     <div class="col-md-6">
        <div class="form-group">
         <%= form.label :alcohol %>
         <%= form.text_field :alcohol, class:'form-control'  %>
       </div>

       <div class="form-group">
         <%= form.label :tobacco %>
         <%= form.text_field :tobacco , class:'form-control' %>
       </div>

       <div class="form-group">
         <%= form.label :drugs %>
         <%= form.text_field :drugs, class:'form-control'  %>
       </div>

       <div class="form-group">
         <%= form.label :note %>
         <%= form.text_area :note, class:'form-control'  %>
       </div>

       <div class="form-group">
         <%= form.label :patient_id %>
         <%= form.select('patient_id', options_for_select(@patients.collect{ |p| [ p.first_name, p.id ] }), class:'form-control' ) %>
       </div>
     </div>
  </div>



  <div class="actions">
    <%= form.submit 'Update', class:'btn btn-primary' %>
  </div>
<% end %>
