<%= form_with(model: intake_note, local: true) do |form| %>
  <% if intake_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intake_note.errors.count, "error") %> prohibited this intake_note from being saved:</h2>

      <ul>
      <% intake_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.select('patient_id', options_for_select(@patients.collect{ |p| [ p.first_name, p.id ] })) %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select('user_id', options_for_select(@users.collect{ |p| [ p.first_name, p.id ] })) %>
  </div>

  <div class="field">
    <%= form.label :note_type %>
    <%= form.text_field :note_type %>
  </div>

  <div class="field">
    <%= form.label :presenting_problem %>
    <%= form.text_field :presenting_problem %>
  </div>

  <div class="field">
    <%= form.label :current_mental_status %>
    <%= form.text_field :current_mental_status %>
  </div>

  <div class="field">
    <%= form.label :safety_issues %>
    <%= form.text_field :safety_issues %>
  </div>

  <div class="field">
    <%= form.label :background %>
    <%= form.text_field :background %>
  </div>

  <div class="field">
    <%= form.label :diagnosis %>
    <%= form.text_field :diagnosis %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
