<%= render "shared/navbar_signed_in" %>

<div class="container py-5">
   <div class="row">
      <div id="blocks" class="col-md-5 mx-auto border py-4">
         <p id="notice"><%= notice %></p>

         <p>
           <strong>User:</strong>
           <%= @intake_note.user %>
         </p>

         <p>
           <strong>Patient:</strong>
           <%= @intake_note.patient %>
         </p>

         <p>
           <strong>Note type:</strong>
           <%= @intake_note.note_type %>
         </p>

         <p>
           <strong>Presenting problem:</strong>
           <%= @intake_note.presenting_problem %>
         </p>

         <p>
           <strong>Current mental status:</strong>
           <%= @intake_note.current_mental_status %>
         </p>

         <p>
           <strong>Safety issues:</strong>
           <%= @intake_note.safety_issues %>
         </p>

         <p>
           <strong>Background:</strong>
           <%= @intake_note.background %>
         </p>

         <p>
           <strong>Diagnosis:</strong>
           <%= @intake_note.diagnosis %>
         </p>

         <p>
           <strong>Date:</strong>
           <%= @intake_note.date %>
         </p>

         <p>
           <strong>Time:</strong>
           <%= @intake_note.time %>
         </p>

         <%= link_to 'Edit', edit_intake_note_path(@intake_note) %> |
         <%= link_to 'Back', intake_notes_path %>
      </div>
   </div>
</div>

<%= render "shared/footer" %>
